.address-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  padding: 9px 3px 7px 3px;
  color: #333;
  font-size: 1rem;
  transition: border 0.3s ease;
  text-decoration: none; /* For Link component if used */
  width: 32%;
}

.address-button:hover {
  border: 1px solid white;
}

.address-icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10px;
  /* justify-content: center; */
  width: auto;
  height: 100%;
  padding-right: 4px;
}

.address-icon {
  font-size: 1.1rem;
  color: white;
}

.addressText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 000;
  color: #d3caca;
  padding-top: 4px;
}
.subText {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */
  
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
