.footer {
  background-color: #333;
  color: #fff;
  padding: var(--spacing-xl) var(--spacing-md);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.footer-section h4 {
  color: var(--color-secondary);
  margin-bottom: var(--spacing-sm);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #fff;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--color-secondary);
}

/* Media Query para Tabletas y Escritorios */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
}