.cart-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  padding: 9px 12px 7px 12px;
  color: #333;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.cart-button:hover {
  border: 1px solid white;
}

.cart-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%; /* 60% of button area */
  height: 100%;
}

.cart-icon {
  font-size: 2rem; /* Adjust size to occupy 60% of wrapper */
  color: white;
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: 5px;
  /* background-color: var(--color-secondary); */
  color: white;
  /* border-radius: 50%; */
  padding: 2px 4px;
  font-size: 0.8rem;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.cart-text {
  margin-left: 4px;
  font-size: 0.9rem;
  height: 50%; /* 50% of button height */
  display: flex;
 /*  align-items: center; */
 padding-top: 7px;
  color: white;
}
