.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
    font-size: 0.85em;
}

.link:hover .descripcion {
    color: #007bff; /* Cambia el color del texto al pasar el mouse */
}
.logo{
    height: 30px;
}
.imageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 30vh;
    border: solid 1px #dedede;
    border-radius: 15px;
    padding: 10px;
}
.image {
    max-height: 100px;
}

.priceRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.precio {
    font-weight: 500;
    font-size: 1.1em;
    margin: 0;
    padding-right: 15px;
}